<!DOCTYPE html>
<html lang="en" ng-app="springChat">
	<head>
	  <meta charset="utf-8" />
	  <title>Spring WebSocket Chat</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	  <link href="lib/flat-ui/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	  <link href="lib/flat-ui/dist/css/flat-ui.css" rel="stylesheet">
	  <link href="lib/angularjs-toaster/toaster.css" rel="stylesheet">
      
	  <link href="css/chat.css" rel="stylesheet">	  
	</head>
	<body ng-controller="AppController as appCtrl">
		
		<div class="container">
			<toaster-container></toaster-container>
			
			<div class="row header-container">
				<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
		            <div class="collapse navbar-collapse" id="navbar-collapse-01">
		              <h1><a>Spring WebSocket Chat</a></h1>
		              <ul class="nav navbar-nav navbar-right">           
		              	<!--<li><a href="stats" target="_blank">Stats</a></li>-->
		                <li><a href="logout">Logout ({{appCtrl.username}})</a></li>
		               </ul>
		            </div><!-- /.navbar-collapse -->
		          </nav><!-- /navbar -->
			</div>
	        <div class="row chat-container">
				<div class="col-xs-4 contacts-container" ng-controller="ContactsController">
					<!--<h4>Participants [{{participants.length}}]</h4>
                    <div class="share">
                        <ul ng-repeat="participant in conversation.participants">
                            <li>
                                <span class="input-icon fui-new" ng-show="participant.typing"></span>
                                <span class="input-icon fui-user" ng-show="!participant.typing"></span>
                                <a href="" ng-click="privateSending(participant.username)">{{participant.username}}</a>

                            </li>
                        </ul>
                    </div>-->
					<h5 ng-click="searchContacts()">Contacts [{{userContacts.length}}]</h5>
					<div class="share">
						<ul class="user-contacts">
							<li ng-repeat="contact in userContacts" href="" ng-click="selectContact(contact);"
									class="contact" ng-class="{highlightedContact: $index%2 === 1, selected: contact.signature == selectedContact.signature}">
								<span class="input-icon fui-new"></span>
								<span class="input-icon fui-user" ng-show="!participant.typing"></span>
								<span class="name">{{contact.signature}}</span>
								<span class="new-messages-amount">{{contact.queuedMessagesAmount}}</span>
							</li>
						</ul>
					</div>
				</div>
        		<div class="col-xs-8 chat-box" ng-controller="ChatController">
					<div class="chat-header">
						<span class="conversation-topic">{{conversation.name ? conversation.name : "Select a contact in the list"}}</span>
					</div>
					<div class="row left-side messages-container" ng-controller="MessagesController">
						<div ng-repeat="message in messages">
							<small print-message></small>
						</div>
					</div>
					<div class="form-group message-input">
						<input id="subjectInput"  type="text" class="form-control" maxlength="{{subjectMaxLength}}"
							   placeholder="Subject..." ng-model="subject"/>
						<textarea id="newMessageInput" rows="4" type="text" class="form-control"
								  placeholder="Write your message and hit enter..." ng-model="newMessage"
								  ng-keyup="$event.keyCode == 13 ? sendMessage() : startTyping()"></textarea>
					</div>
        		</div>
        	</div>
	    </div>
	    <!-- /.container -->
	
		<!-- 3rd party -->
		<script src="lib/angular/angular.min.js"></script>
	    <script src="lib/angular-animate/angular-animate.min.js"></script>
	    <script src="lib/angularjs-toaster/toaster.js"></script>
	    <script src="lib/angularjs-scroll-glue/src/scrollglue.js"></script>
	    <script src="lib/sockjs/sockjs.min.js"></script>
	    <script src="lib/stomp/lib/stomp.min.js"></script>
		
		<!-- App -->
		<script src="js/app/constants.js"></script>
		<script src="js/app/paths.js"></script>

		<script src="js/app/app.js"></script>
		<script src="js/app/appController.js"></script>
		<script src="js/app/appEvents.js"></script>

		<script src="js/app/initService.js"></script>
		<script src="js/app/notificationService.js"></script>
		<script src="js/app/userService.js"></script>
		<script src="js/app/search-service.js"></script>

		<script src="js/chat/chatController.js"></script>
		<script src="js/chat/chatService.js"></script>
		<script src="js/chat/messages/messagesService.js"></script>
		<script src="js/chat/messages/messagesController.js"></script>

		<script src="js/contacts/contactsController.js"></script>
		<script src="js/contacts/contactsService.js"></script>

		<script src="js/socket/chatSocket.js"></script>

		<script src="js/directives.js"></script>
	</body>
</html>