<!DOCTYPE html>
<html lang="en" class="full-height" ng-app="springChatLogin">
<head>
    <meta charset="utf-8"/>
    <title>Spring WebSocket Chat</title>

    <!-- Loading Bootstrap -->
    <link href="lib/flat-ui/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="lib/flat-ui/dist/css/flat-ui.css" rel="stylesheet">

    <link href="css/chat.css" rel="stylesheet">
    <link href="css/angular-validation.css" rel="stylesheet">
</head>
<body class="full-height">
<div class="full-height">
    <div class="login full-height" ng-controller="RegistrationController">
        <div style="display: table; width: 100%;" class="full-height">
            <div style="display: table-cell; vertical-align: middle;" class="full-height">
                <div class="login-screen">
                    <div class="col-lg-2" style="margin-left: 2em;">
                        <h4><small>Welcome to</small>
                            Spring WebSocket Chat
                        </h4>
                    </div>

                    <div class="login-form col-lg-7" ng-hide="flags.isRegistrationForm">
                        <div class="alert alert-success" ng-show="flags.registrationSuccessful">
                            {{ messages.registrationSuccessful }}</div>
                        <p ng-hide="flags.registrationSuccessful">
                            <small style="color:#666">{{ messages.loginInfo }}</small>
                        </p>
                        <form ng-non-bindable method="post">
                            <div class="form-group">
                                <input type="text" class="form-control login-field" name="username"/>
                                <label class="login-field-icon fui-user" for="login-name"> Username</label>
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control login-field" name="password"/>
                                <label class="login-field-icon fui-lock" for="login-pass"> Password </label>
                            </div>

                            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Log In"/>
                        </form>
                        <div style="clear: both;" class="full-width text-right">
                            <a href="#" ng-click="showRegistrationForm()">Sign up!</a>
                        </div>
                    </div>
                    <div class="login-form col-lg-7" ng-show="flags.isRegistrationForm">
                        <div class="alert alert-danger" ng-show="flags.registrationFailed" role="alert">
                            Registration failed: Status {{ messages.registrationFailed }}</div>
                        <p ng-hide="flags.registrationFailed">
                            <small style="color:#666">{{ messages.registrationInfo }}</small>
                        </p>
                        <form name="registrationForm" ng-submit="register()">
                            <div class="form-group">
                                <input type="text" class="form-control login-field" ng-model="user.username" required/>
                                <label class="login-field-icon fui-user"> Username</label>
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control login-field" ng-model="user.password"
                                       required/>
                                <label class="login-field-icon fui-lock"> Password </label>
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control login-field"
                                       ng-model="user.passwordConfirmation" compare-to="user.password" required/>
                                <label class="login-field-icon fui-lock"> Confirm password </label>
                            </div>

                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit"
                                   ng-disabled="registrationForm.$invalid"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- 3rd party -->
<script src="lib/angular/angular.min.js"></script>

<!-- App -->
<script src="js/login.js"></script>
</body>
</html>