html, body {height: 100%;}

.container {
  width: 970px !important;
}

.navbar h1 {
	margin-top: 15px;
	font-size: 22px;
	float:left;
	color: #fff;
}

.chat-box {
	height:400px;
	overflow: auto;
}

.chat-box .chat-message-container {
	width: 100%;
	padding-right: 1em;
}

.chat-box .chat-message {
	clear: both;
	width: 90%;
	background: rgba(0, 169, 255, 0.54);
	border-radius: 5px;
	padding-left: 1em;
	margin: 5px 10% 5px 0%;
}

.chat-box .ownMessage {
	margin-right: 0%;
	margin-left: 10%;
	background: rgba(0, 169, 255, 0.27);
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

.padding1em {
	padding: 1em;
}

.left-side {
	padding-left: 0px;
	margin-left: 0px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

/*======== Overriding FLAT UI ========*/
.login {
	background-size: auto;
	margin-bottom: 0px;
	padding: 0px;
	/*border: 1em solid #2c3e50;*/
	/*border-radius: 1em;*/
	background: #1abc9c none;
	min-width: 480px;
	min-height: 560px;
}

.login-screen {
	background: none;
	min-height: inherit;
	padding: 2em 10%;
}

.login-form {
	margin: 0 2em;
}

ul.user-contacts {
	padding: 0px;
}

.user-contacts .contact, .user-contacts li:first-child {
	padding: 1em;
	cursor: pointer;
}

.user-contacts .contact .name {
	font-weight: bold;
}

.user-contacts .selected {
	background-color: red;
}
/*======== Overriding FLAT UI END ========*/