html, body {height: 100%;}

.container {
	width: 970px !important;
	height: 100%;
}

.header-container {
	height: 10%;
	min-height: 60px;
}

.chat-container {
	height: 90%;
	min-height: 540px;
}

.new-group-input {
	width: 90%;
}

.create-group-btn {
	color: rgba(22, 141, 116, 0.9);
	font-size: 0.7em;
}

.create-group-btn:hover {
	color: rgba(35, 214, 171, 1);
}

.contacts-container {
	height: 100%;
}

.contacts-list {
	overflow: auto;
	height: 80%;
}

.global-contacts-search-container {
	text-align: center;
	padding-top: 5px;
}

.chat-box {
	height: 100%;
	padding-left: 0px;
}

.chat-header {
	height: 50px;
}

.chat-box .conversation-topic {
	font-weight: bold;
	font-size: 1.5em;
}

.messages-container {
	overflow: auto;
	margin-right: 0px;
	margin-bottom: 5px;
	//box-shadow: inset 0 -2px 4px -4px rgba(0, 0, 0, .2);
	border-radius: 10px;
	height: 60%;
	min-height: 295px;
}

.message-input {
	margin: 0px;
	height: 150px;
}

.navbar h1 {
	margin-top: 15px;
	font-size: 22px;
	float:left;
	color: #fff;
}

.chat-box .chat-message-container {
	width: 100%;
	padding-right: 1em;
}

.chat-box .chat-message {
	clear: both;
	width: 90%;
	background: rgba(85, 183, 183, 0.75);
	border-radius: 5px;
	padding-left: 1em;
	margin: 5px 10% 5px 0%;
}

.chat-box .ownMessage {
	margin-right: 0%;
	margin-left: 10%;
	background: rgba(126, 200, 200, 0.34);
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

.padding1em {
	padding: 1em;
}

.left-side {
	padding-left: 0px;
	margin-left: 0px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

/*======== Overriding FLAT UI ========*/
.login {
	background-size: auto;
	margin-bottom: 0px;
	padding: 0px;
	/*border: 1em solid #2c3e50;*/
	/*border-radius: 1em;*/
	background: #1abc9c none;
	min-width: 480px;
	min-height: 560px;
}

.login-screen {
	background: none;
	min-height: inherit;
	padding: 2em 10%;
}

.login-form {
	margin: 0 2em;
}

ul.user-contacts {
	padding: 0px;
}

.user-contacts .contact, .user-contacts li:first-child {
	padding: 1em;
	cursor: pointer;
}

.user-contacts .contact .name {
	font-weight: bold;
}

.user-contacts .contact .add-contact-container {
	color: rgba(22, 141, 116, 0.9);
	margin-right: 15px;
	font-weight: bold;
	float: left;
}

.user-contacts .contact .add-contact-container .add-contact-btn:hover {
	color: rgba(35, 214, 171, 1);
}

.user-contacts .contact .add-contact-container .contact-added {
	color: rgb(52, 73, 94);
}

.contacts-filter {
	width: 90%;
}

.inline {
	display: inline;
}

.pointer {
	cursor: pointer;
}

.user-contacts .contact .new-messages-amount {
	float: right;
	font-weight: 900;
	color: rgb(255, 84, 84);
}

.user-contacts li.selected {
	background-color: rgba(22, 160, 133, 0.7);
	border-radius: 10px;
}

.user-contacts .highlightedContact {
	background-color: rgba(98, 98, 98, 0.1);
}


/*======== Overriding FLAT UI END ========*/